@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(aside) {
  flex: auto;
  width: map.get($aside, 'width');
  display: flex;
  align-items: center;
  justify-content: center;
}
