@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(header) {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: map.get($header, 'height');
}
