@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;

@include b(radiobutton) {
  default-color: map.get($radiobutton-default-color, 'normal');
  focus-check-color: $color-primary;
  background-color: map.get($button-bg-color, 'default');
  text-color: map.get($button-text-color, 'default');
  //
  @each $size in (large, default, small) {
    //root
    @include m($size) {
      width: map.get($radiobutton-width, $size);
      height: map.get($radiobutton-height, $size);
    }
  }
}
